ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li 
{
	float: left;
}

ul.topnav li a 
{
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover 
{
	background-color: #555;
}

ul.topnav li.icon 
{
	display: none;
}

/* Optional für eine second level Navigation in der Screen Ansicht */
.innen
{
	color:white;
	display:none;
	padding:3px;
}

li:hover .innen
{
	color:red;
	display:inline-block;
}
/* Ende second level Navigation Screen */

#dabinich
{
    list-style-type:none;
    border-bottom: solid 3px #004091;
}

#dabinich.navipunkt 
{
    float: left;
}

#dabinich.navipunkt a 
{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

#dabinich.navipunkt a:hover 
{
	color: #004091;
    font-weight: bolder;
}

a:hover
{
    color: #004091;
    font-weight: bolder;
}

@media screen and (max-width:680px) {

ul.topnav li:not(:first-child) 
{
	display: none;
}

ul.topnav li.icon 
{
    float: right;
    display: inline-block;
}

  ul.topnav.responsive 
{
	position: relative;
}

  ul.topnav.responsive li.icon 
{
    position: absolute;
    right: 0;
    top: 0;
}

ul.topnav.responsive li 
{
    float: none;
    display: inline;
}

ul.topnav.responsive li a 
{
    display: block;
    text-align: left;
 }
    

 /* Optional für eine second level Navigation in der Mobile Ansicht */
 .innen
{
	color:white;
	display:inline-block;
}
/* Ende second level Navigation Mobile */

}

